* {
  box-sizing: border-box;
}
:root {
  --primary-color: #f44336;
}
body {
  margin: 0;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  padding: 20px;
  margin: 0 0 50px;
  background-color: white;
}
.guess-game {
  text-align: center;
  width: 1000px;
  margin: 20px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.guess-game .game-area .inputs > div {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guess-game .game-area .inputs > div span {
  font-size: 30px;
  margin-right: 15px;
  font-weight: bold;
}
.guess-game .game-area .inputs .disabled-inputs {
  opacity: 0.5;
  pointer-events: none;
}
.guess-game .game-area .inputs input {
  margin: 0 5px;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 50px;
  caret-color: var(--primary-color);
  background-color: white;
  border: none;
  border-bottom: 3px solid #333;
}
.guess-game .game-area .inputs input:focus {
  outline-color: #ccc;
}
.guess-game .game-area .inputs input.yes-in-place {
  background-color: #f89e13;
  border: #f89e13;
  color: white;
}
.guess-game .game-area .inputs input.not-in-place {
  background-color: #18ba89;
  border: #18ba89;
  color: white;
}
.guess-game .game-area .inputs input.no {
  background-color: #27303f;
  border: #27303f;
  color: white;
}
.game-area .control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 30px auto;
  gap: 10px;
}
.game-area .control .check {
  background-color: var(--primary-color);
  flex: 1;
}
.game-area .control .hint {
  background-color: #009688;
  width: fit-content;
}
.game-area .control button {
  border: none;
  font-size: 25px;
  padding: 15px 20px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.game-area .control button:disabled {
  background-color: black;
  opacity: 0.4;
  cursor: no-drop;
}
.key-colors .key-color {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
}
.key-colors .key-color .key {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 4px;
}
.key-colors .key-color .key.in-place {
  background-color: #f89e13;
}
.key-colors .key-color .key.not-in-place {
  background-color: #18ba89;
}
.key-colors .key-color .key.no {
  background-color: #27303f;
}
.key-colors .key-color .key-text {
  font-size: 20px;
  font-weight: bold;
}
.message {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.message span {
  font-weight: bold;
  display: block;
  font-size: 50px;
  color: var(--primary-color);
  text-transform: capitalize;
  margin-top: 10px;
}
.message p {
  margin-top: 15px;
}
footer {
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
}
